# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Docker
# For local development
POSTGRES_DB=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=6543

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# DATABASE_URL="file:./db.sqlite"
# Connect to Supabase with PgBouncer.
DATABASE_URL="postgresql://postgres:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="CvN2qK1adeaBxgcgTmnMNzGPO4SPrs2yuF1RVfQ/VY4=" # not used for production
NEXTAUTH_URL="http://localhost:3000"

# Supabase
# https://supabase.io/docs/reference/environment-variables
NEXT_PUBLIC_SUPABASE_URL="https://PROJECT_ID.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="SUPABASE_ANON_KEY"
SUPABASE_SERVICE_ROLE_KEY="SUPABASE_SERVICE_ROLE_KEY"
